/charts/*/requirements.lock
/charts/*/charts/*

/src/**/obj/
/src/**/bin/
/src/App/ClientApp/node_modules/
/src/App/ClientApp/dist/
/src/**/npm-debug.log

/src/.vs/
/src/.idea/
/src/_ReSharper.*/
/src/**/*.user
/src/**/*.db
.vscode/
